{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
            {% for produit in produits %}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    {% if produit.filename %}
                        <img src="{{ vich_uploader_asset(produit, 'imageFile' ) | imagine_filter('thumb') }}" class="card-img-top" alt="..." style="width: 100%;height: auto">
                    {% else %}
                        <img src="{{ '/images/products/empty.jpg' | imagine_filter('medium') }}" class="card-img-top" alt="..." style="width: 100%;height: auto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ produit.name }}</h5>
                        <a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-primary">Acheter</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}